.container {
  height: 600px;
}

.row {
  border: 2px;
}

img {
  width: 100%;
}

.titulo {
  text-align: center;
}

.primera_seccion {
  text-align: justify;
  padding: 5%;
  font-size: 20px;
}

.col-12 ul{
  list-style:none;
  }
}

@media (min-width: 200px) and (max-width: 424px) {
  [class*="col-"] {
    width: 100%;
    text-align: center;
  }
  .gatito {
    content: url("../img/gato4.jpg");
  }
  
}